* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
nav {
    background-color: #87CEEB;
    padding: 15px;
    display: flex;
    align-items: center;
}
nav img{
    display: flex;
    align-items: center;
    margin-left:  30px;
} 
img{
    width: 250px;
    padding: 0;
}
body{
    background-color: rgb(218, 232, 237);   
}
.menu {
    list-style: none;
    display: flex;
    justify-content:center;
    background-color: #87CEEB ; 
    padding: 0;
    padding-left: 200px;

}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none; 
    color: #006BFF;   
    font-size: 20px;
    padding: 10px 20px;
    background-color:  #87CEEB;
    position: relative;
    font-family: "Bagel Fat One", cursive;

}
.menu a:hover {
    background-color: lightpink;
    border-radius: 20px;
}

h1, h2{
    text-align: center;
}
h1{
    font-family: "Gochi Hand", cursive;
    color: #006BFF;
    padding-top: 15px;
    margin-bottom: 15px;
}
h2{
    color: rgb(59, 57, 57);
    padding-bottom: 15px;
}

div.galeriaCachorro {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    width: 175px;
}
  
div.galeriaCachorro img {
    width: 100%;
    height: auto;
}

div.galeriaGato {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    width: 175px;
}
  
div.galeriaGato img {
    width: 100%;
    height: auto;
}
  
div.info {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #555;
   
}

footer{
    background-color: #87CEEB;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

footer img{
    display: flex;
    margin-left: 60px;
    border-radius: 100px;
    width: 200px;
    
}

#rodape{
    display: flex;
    align-items: center;
}

#rodape ul{
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    margin-left: 50px;
}

#rodape li{
    margin: 0 10px;
}

#rodape a{
    text-decoration: none;
    color: #006BFF;   
    font-size: 25px;        
    padding: 0px 20px;
    background-color:  #87CEEB;
    position: relative;
    font-family: "Bagel Fat One", cursive;
}

#rodape a:hover{
    background-color: lightpink;
    border-radius: 20px;
}

#redes{
    list-style: none; 
}
