* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DCDCDC;
}

nav {
    background-color:  lightblue;
    padding: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: lightblue ;
    padding: 0;

}

.menu li {
    margin: 0 10px;
    background-color:  lightblue ;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    background-color:  lightblue;
    
}

.menu a:hover {
    background-color: lightpink;
    border-radius: 20px;
}
