* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
nav {
    background-color: #87CEEB;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav img{
    display: flex;
    align-items: center;
    margin-left:  60px;
    width: 300px;
    padding: 0;
}

body{
    background-color: rgb(218, 232, 237);   
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #87CEEB ; 
    padding: 0;
    margin-left: 150px;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none; 
    color: #006BFF;   
    font-size: 25px;
    padding: 10px 20px;
    background-color:  #87CEEB;
    position: relative;
    font-family: "Bagel Fat One", cursive;
}

.menu a:hover {
    background-color: lightpink;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bloco {
    background-color:azure;
    border: 1px ;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 40%;
    text-align: justify;
}

h4, p {
    background-color: azure;
}

.bloco img {
    border-radius: 50%;
    margin: 10px;
}

footer, a {
    background-color:  lightblue;
    padding: 20px;
    text-align: left;
}
